@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/************************* TAG SELECTORS ***********************/

body {
    margin: 0;
}

h3 {
    margin: 0;
}

footer {
    background-color: #f19393;
    height: 80vh;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    padding-top: 4%;
}


/************************* CLASS SELECTORS ***********************/

.allservices {
    margin: 3%;
    width: 30%;
    height: 5%;
    border-radius: 30px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #F55050;
    border: #F55050;
    color: #EEEEEE;
    font-size: 105;
}

.btn {
    width: 90%;
    border-radius: 25px;
    border: #579BB1;
    background-color: #579BB1;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    color: #EEEEEE;
}

.call {
    color: white;
}

.d1 {
    width: 50%;
    height: 55%;
    float: left;
}

.d1image {
    width: 600px;
    height: 100%;
}

.d2 {
    width: 50%;
    height: 40%;
    background-color: #F2CD5C;
    float: right;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 0;
    padding-top: 50px;
}

.d2 h2 {
    font-size: 3rem;
    color: #EEEEEE;
    font-weight: bold;
}

.d2 p {
    font-size: 1.2rem;
    line-height: 20px;
    font-weight: bold;
    color: #EEEEEE;
}

.d2 button {
    padding: 8% 12%;
    border-radius: 50px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #EEEEEE;
    border: #EEEEEE;
    color: #F2CD5C;
    font-size: 80%;
    font-weight: bold;
}

.d3 {
    width: 50%;
    height: 45%;
    background-color: #c6cbcf;
    position: relative;
    top: 55%;
    text-align: center;
}

.d3div {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 25%;
}

.d3 p {
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    top: 50%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    font-weight: bolder;
}

.d3 i {
    color: #579BB1;
}

.d4 {
    width: 50%;
    height: 53%;
    background-color: rgb(255, 255, 255);
    float: left;
    border-radius: 0 0 50% 0;
}

.d4image {
    width: 100%;
    height: 100%;
    border-radius: 0 0 50% 0;
}

.fa {
    height: 90px;
    width: 90px;
    background-color: #EEEEEE;
    border-radius: 50%;
    display: block;
}

.fa i {
    color: #F55050;
    position: relative;
    top: 35px;
}

.firsthalf {
    background-color: #EEEEEE;
    height: 87.8vh;
    text-align: center;
}

.firsthalf h1 {
    margin-top: 60px;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 230%;
}

.firsthalf div {
    display: inline-block;
    width: 40%;
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
}

.firstsection {
    position: relative;
    z-index: -1;
}

.firstupperhalf {
    height: 100%;
}

.firstbottomhalf {
    background-color: #93C6E7;
    text-align: center;
    height: 100%;
}

.firstbottomhalf p {
    font-family: 'Josefin Sans', sans-serif;
    margin: 8% 0 0 0;
    font-size: 2rem;
    font-weight: bolder;
    line-height: 0;
}

.firstsection {
    display: grid;
    grid-gap: 0;
    grid-template-areas: "box1 box2" "box1 box3";
    grid-template-columns: 1fr 50%;
}

.firstsection div:first-child {
    grid-area: box1;
}

.header {
    background-color: #EEEEEE;
    height: auto;
    box-shadow: 0 0 8px #393E46;
    padding-top: 3px;
}

.lastsection {
    height: 100vh;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    z-index: -3;
}

.log {
    height: auto;
    display: inline-block;
}

.logo {
    display: inline-block;
    margin: 32px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: larger;
    font-weight: bolder;
    color: #393E46;
}

.mail {
    width: 86%;
    border-radius: 25px;
    border: #c6cbcf;
    background-color: #c6cbcf;
    font-family: 'Josefin Sans', sans-serif;
    color: #747575;
}

.navbar {
    float: right;
    margin: 32px;
    width: auto;
}

.navbar a {
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: #393E46;
}

.newsletter {
    background-color: #EEEEEE;
    width: 40%;
    height: 52.8%;
    float: right;
    padding: 0 2% 0;
    border-radius: 90px 0 0 0;
}

.newsletter input {
    display: block;
    padding: 2% 2% 2%;
    margin: 1% 5% 5%;
}

.newsletter h6 {
    padding: 6% 6% 2%;
    font-size: 1.1rem;
}

.phone {
    line-height: 0;
    color: #393E46;
}

.quotes {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #EEEEEE;
    text-align: center;
    position: relative;
    left: 50%;
}

.quotes i {
    padding: 30%;
}

.quotep {
    text-align: center;
    padding: 2% 15% 2%;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.s3div {
    width: 10%;
    height: 80px;
    float: left;
    padding-left: 10%;
}

.s3div i {
    color: #F2CD5C;
}

.schedulebtn {
    width: 15%;
    padding: 1% 0;
    border-radius: 30px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #EEEEEE;
    border: #EEEEEE;
    color: #f48484;
    font-size: 80%;
    font-weight: 900;
    margin-top: 25px;
}

.secondsection {
    width: 100%;
    height: 70vh;
    background-color: #93C6E7;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #EEEEEE;
    font-weight: 800;
}

.secondsectionp {
    padding: 1% 20%;
    font-size: 1.2rem;
}

.secondsection h3 {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 60px;
    font-size: 150%;
    padding-bottom: 20px;
}

.section3half {
    height: 100vh;
    width: 50%;
    background-color: #EEEEEE;
    float: left;
}

.section3half2 {
    height: 100vh;
    width: 50%;
    background-color: #EEEEEE;
    float: right;
    font-family: 'Josefin Sans', sans-serif;
}

.section3half2 button {
    position: relative;
    left: 40%;
    width: 30%;
    height: 5%;
    border-radius: 30px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #F55050;
    border: #F55050;
    color: #EEEEEE;
    font-size: 105;
}

.section3half2 h2 {
    text-align: center;
    padding-top: 8%;
    font-size: 2rem;
    padding-bottom: 3%;
}

.section3half2 h4 {
    font-size: 1.5rem;
}

.section3half2 p {
    font-size: 1.2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

.section2contents p {
    display: block;
    padding: 0 10px;
    font-family: 'Josefin Sans', sans-serif;
}

.section2contents {
    display: inline-block;
    height: auto;
    width: 170px;
    padding: 20px;
}

.stacked {
    width: 100%;
    height: 100%;
}